*.json
node_modules/
*.csv
*.pyc
.vscode
.DS_Store
*.tfstate
*.tfstate.*
# *.tfvars | Depends whether you include secrets or not 
*.tfvars.json
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
terraform.tfvars
/api/venv/
__pycache__/
*.pyc